In [ ]:
#import library
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix

In [ ]:
#import data
#and Drop not importan data and NULL data
pd.set_option('display.max_columns', None)
data = pd.read_csv("/content/drive/MyDrive/trainloan.csv")
data = data.dropna()
data.replace({"Loan_Status":{'N':0,'Y':1}},inplace=True)
data.replace({"Gender":{"Male":0,"Female":1}},inplace=True)
data.replace({"Married":{"No":0,"Yes":1}},inplace=True)
data.replace({"Education":{"Graduate":0,"Not Graduate":1}},inplace=True)
data.replace({"Property_Area":{"Rural":0,"Urban":1,"Semiurban":2}},inplace=True)
data.replace({"Self_Employed":{"No":0,"Yes":1}},inplace=True)
data.replace({"Dependents":{"3+":3}},inplace=True)
data.isnull().sum()
data.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,0,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,0,1,0,0,1,3000,0.0,66.0,360.0,1.0,1,1
3,LP001006,0,1,0,1,0,2583,2358.0,120.0,360.0,1.0,1,1
4,LP001008,0,0,0,0,0,6000,0.0,141.0,360.0,1.0,1,1
5,LP001011,0,1,2,0,1,5417,4196.0,267.0,360.0,1.0,1,1
6,LP001013,0,1,0,1,0,2333,1516.0,95.0,360.0,1.0,1,1
7,LP001014,0,1,3,0,0,3036,2504.0,158.0,360.0,0.0,2,0
8,LP001018,0,1,2,0,0,4006,1526.0,168.0,360.0,1.0,1,1
9,LP001020,0,1,1,0,0,12841,10968.0,349.0,360.0,1.0,2,0
10,LP001024,0,1,2,0,0,3200,700.0,70.0,360.0,1.0,1,1

In [ ]:
#split data X,Y
X = np.array(data.drop(columns=["Loan_ID","Loan_Status"],axis=1)).astype(float)
X = MinMaxScaler((-2,2)).fit_transform(X)
Y = np.array(data['Loan_Status']).astype(float)

In [ ]:
 #split data use for train or test
 X_train, X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.1,stratify=Y,random_state = 3)

In [ ]:
#fit classifier
clf = svm.SVC(kernel="linear")
clf.fit(X_train,Y_train)

SVC(kernel='linear')

In [ ]:
#check Accuracy
y_pred  = clf.predict(X_test)
print("confusion matrix = \n",confusion_matrix(Y_test, y_pred))
print(y_pred.shape)
X_train_prediction = clf.predict(X_train)
training_data_accuray = accuracy_score(X_train_prediction,Y_train)
print('Accuracy on training data : ', round(training_data_accuray*100,2),"%")
X_test_prediction = clf.predict(X_test)
testing_data_accuray = accuracy_score(X_test_prediction,Y_test)
print('Accuracy on testing data : ', round(testing_data_accuray*100,2),"%")

confusion matrix =
 [[ 5 10]
 [ 0 33]]
(48,)
Accuracy on training data :  81.02 %
Accuracy on testing data :  79.17 %

In [ ]:
#input and predict
col = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']
datarang = ["[0,1] = [Male,Female]","[0,1] = [False,True]","[int] = [count]","[0,1] = [False,True]","[0,1] = [False,True]","[int] = [count]","[int] = [count]","[int] = [count]",
   "[int] = [day]","[0,1] = [False,True]" ,"[int] = [count]"]
def run():
    Xin = [0]*11
    for i in range(11):
        print(col[i],datarang[i])
        Xin[i] = int(input())
    Xin = np.array(Xin).reshape(1,11)
    Xin = MinMaxScaler((-2,2)).fit_transform(Xin)
    print("predict = ", clf.predict(Xin))
while (True):
    run()

Gender [0,1] = [Male,Female]
Married [0,1] = [False,True]
Dependents [int] = [count]
Education [0,1] = [False,True]
Self_Employed [0,1] = [False,True]
ApplicantIncome [int] = [count]
CoapplicantIncome [int] = [count]
LoanAmount [int] = [count]
Loan_Amount_Term [int] = [day]
Credit_History [0,1] = [False,True]
Property_Area [int] = [count]
predict =  [0.]
Gender [0,1] = [Male,Female]
Married [0,1] = [False,True]
Dependents [int] = [count]
Education [0,1] = [False,True]
Self_Employed [0,1] = [False,True]
ApplicantIncome [int] = [count]
CoapplicantIncome [int] = [count]
LoanAmount [int] = [count]
Loan_Amount_Term [int] = [day]
Credit_History [0,1] = [False,True]
Property_Area [int] = [count]
predict =  [0.]
Gender [0,1] = [Male,Female]
Married [0,1] = [False,True]
Dependents [int] = [count]
Education [0,1] = [False,True]
Self_Employed [0,1] = [False,True]
ApplicantIncome [int] = [count]
CoapplicantIncome [int] = [count]
LoanAmount [int] = [count]
Loan_Amount_Term [int] = [day]
Credit_History [0,1] = [False,True]
Property_Area [int] = [count]
predict =  [0.]
Gender [0,1] = [Male,Female]